@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

html, body {
  font-family: 'Roboto', sans-serif;
}

button {
  height: 40px;
  margin: 4px;
}

.div-large {
  padding: 16px 2px;
  margin: 2px;
  gap: 32px;
}

.visible {
  visibility: visible;
}

.not-visible {
  visibility: hidden;
}

.page-title{
  font-family: 'MuseoModerno';
}